{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}

$ Описание проекта в виде абзаца текста $

<BR><BR>
<b>Новость-молния:</b> <BR>
05 мая состоялся старт нового программного продукта "Азбука", первого в разрабатываемой линейке начальной школы, которая должна покрыть потребности учителя в дополнительном раздаточном материале по русскому языку в течение 1 и 2 классов обучения.<BR>

<BR>
<BR>
<img src="static/main.jpg" alt="Учение - свет"/>
<BR><BR>

{% endblock %}
