{% extends "base.html" %}
{% block title %}√лавна€ страница{% endblock %}
{% block content %}

¬ы хотите привлечь внимание и развить интерес ребенка к обучению? Ќаша программы помогут вам в этом!

<BR><BR>
<b>Ќовость-молни€:</b> <BR>
05 ма€ состо€лс€ старт нового программного продукта "јзбука", первого в разрабатываемой линейке начальной школы, котора€ должна покрыть потребности учител€ в дополнительном раздаточном материале по русскому €зыку в течение 1 и 2 классов обучени€.<BR>

<BR>
<BR>
<img src="static/main.jpg" alt="”чение - свет"/>
<BR><BR>

{% endblock %}
