{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}

Компания "Обучающие технологии" была создана профессионалами в области информатизации образования одного из сильнейших технических университетов страны (НИЯУ МИФИ) и учителями начальных классов.<BR><BR>
Целью деятельности нашей компании является создание и продвижение по низкой цене относительно импортных аналогов линейки программных продуктов в поддержку учебному процессу в начальной школе по трем предметам: русский язык, математика и окружающий мир.<BR><BR>
Большая часть существующих программных комплексов в нашей стране для начальной школы распространяется по франшизе от зарубежных разработчиков. Это обуславливает их высокую стоимость и порой несильную привязку к образовательной программе детей.<BR><BR>
Первый из выпущенных нами продуктов "Азбука" имеет низкую стоимость относительно аналогов и полностью соответствует логике обучения детей в первом классе звукам и буквам.<BR>

{% endblock %}
