{% extends "base.html" %}
{% block title %}Наши программы{% endblock %}
{% block content %}

Компания "Обучающие технологии" производит линейку продуктов по русскому языку, математике и окружающему миру для начальной школы.
На данном этапе готов к использованию программный комплекс "Азбука".<BR>

<BR>
<b>"Азбука"</b><BR>
В программу заложены функциональные возможности для поддержки детей в обучении звукам, их характеристикам и буквам (в печатной и прописной форме), а также в закреплении изученного материала с помощью игровых упражнений. Выстроенная логика в программном продукте совпадает с логикой программы начальной школы 1 класса, где ребенку предлагается посмотреть каждый звук, примеры его звучания в словах, анимированных картинками и озвученными. 
<BR><BR>
Программа направляет ученика по логической цепочке, давая ему или родителю возможность изучить каждую тему еще раз, и наоборот, перейти к интересуемой. Система интерактивных упражнений в игровой форме спроектирована таким образом, что ребенок быстрее запоминает изучаемые звуки и буквы, узнает новые слова и повторяет забытые. Система голосового сопровождения и простой интерфейс делает программу простой и понятной юному ученику.

<BR><BR>
Стоимость программного продукта "Азбука" составляет 150 рублей за одну лицензию для физических лиц. Стоимость программного продукта "Азбука" составляет 100 рублей за одну лицензию для образовательных организаций (в пакет входят бесплатные лицензии для учителей и завучей).

{% endblock %}
