<table border=1 cellpadding=5>
    <TR>
        <TH rowspan=2>Класс</TH>
        <TH rowspan=2>Учащийся</TH>
        <TH colspan=3>Число баллов</TH>
        <TH rowspan=2>Подробнее</TH>
    </TR>
    <TR>
        <TH>неделю назад</TH>
        <TH>вчера</TH>
        <TH>текущее</TH>
    </TR>
    
    {% for record in teacher_table %}
    <TR class="table_text">
        <TD align=center>{{record.cls}}</TD>
        <TD>{{record.name}}</TD>
        <TD align=right>{{record.weekScore}}</TD>
        <TD align=right>{{record.yesterdayScore}}</TD>
        <TD align=right>{{record.totalScore}}</TD>
        <TD align=center><A href="/accounts/pupil/{{record.name}}">просмотр</A></TD>
    </TR>
    {%endfor%}
</table>

<BR><BR>

<table border=1 cellpadding=5>
    <caption> Добавление учащихся </caption>
    <tr><td>
    
<form action='add_pupil/' method='post'>
{% csrf_token %}

<table>
{{ addPupilForm.as_table }}
</table>

<input type="submit" value="Добавить нового ученика" />
</form>

    </td></tr>
</table>


<table border=1 cellpadding=5>
    <caption> Удаление учащихся </caption>
    <tr><td>
    
<form action='delete_pupil/' method='post'>
{% csrf_token %}


<table>
{{ deletePupilForm.as_table }}
</table>

<input type="submit" value="Удалить выбранных учеников" />
</form>

    </td></tr>
</table>

<BR>
