<!DOCTYPE html>
<html>

{% load staticfiles %}

<head>

<link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />

<title>Познайка - {% block title %}{% endblock %}</title>
<style type="text/css">
  .errorlist { color: red }
}

}
</style>

</head>

<body bgcolor=#DAF1FB text=#5F5760 link=#107DAF vlink=#107DAF
    leftmargin=0 rightmargin=0 topmargin=0>

{% include "header.html" %}
{% include "menu.html" %}

<table border=0 width=100% cellpadding=5>
<TR>
<TD valign=top width=248>

<A href="mailto:contact@po-znaika.ru">
    <img src="{% static "vopros.png" %}" alt="Задать вопрос" />
</A>

<div class="second_menu">
<A class="menu_link" href="/">Главная</A><BR>
<A class="menu_link" href="/products/">Наши программы</A><BR>
<A class="menu_link" href="/accounts/">Личный кабинет</A><BR>
<A class="menu_link" href="/contacts/">Контакты</A><BR>
<A class="menu_link" href="/about/">О проекте</A><BR>
</div>

</TD>

<TD>
{% block content %} {% endblock %}
</TD>

<TD width=3%/>
</table>

{% include "footer.html" %}

</body>
</html>
