<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.po_znaika.alphabet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/AppTheme">

        <activity
            android:name="ru.po_znaika.alphabet.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ru.po_znaika.alphabet.CharacterExerciseMenuActivity"
            android:label="@string/title_activity_character_exercise_menu" >
        </activity>

        <activity
            android:name="ru.po_znaika.alphabet.SingleCharacterExerciseMenuActivity"
            android:label="@string/title_activity_single_character_exercise_menu" >
        </activity>

        <activity
            android:name="ru.po_znaika.alphabet.CharacterExerciseItemActivity"
            android:label="@string/title_activity_character_exercise_item" >
        </activity>

        <activity
            android:name="ru.po_znaika.alphabet.DiaryActivity"
            android:label="@string/title_activity_diary" >
        </activity>

        <activity
            android:name="ru.po_znaika.alphabet.WordGatherActivity"
            android:label="@string/title_activity_word_gather" >
        </activity>

        <activity
            android:name="ru.po_znaika.alphabet.CreateWordsFromSpecifiedActivity"
            android:label="@string/title_activity_create_words_from_specified" >
        </activity>
    </application>
</manifest>
